<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charging</title>
    <link rel="stylesheet" href="../views/energy.css">
</head>
<body>
    <div class="topper">
           <navbar class="navbar">
               <img class="teslalogo" src="../static/tesla-logo.png" alt="">
               <ul>
                <li><a href="/vehicles">Vehicles</a></li>
                <li><a href="/energy">Energy</a></li>
                <li><a href="/charging">Charging</a></li>
                <li><a href="#">Discover</a></li>
                <li><a href="/">Home</a></li>
               </ul>
           </navbar>           
    </div>
    <div class="topper">
        <navbar class="navbar">
            <div class="kut">
            <ul>
                <li><a id="yaa" href="#modx">Charging</a></li>
                <li><a id="yaa" href="#mods">Home Charging</a></li>
                <li><a id="yaa" href="#modt">Super Charging</a></li>
            </ul>
            </div>
        </navbar>           
 </div>
     <div class="modals">
            <div id="modx" class="box">
                <img class="vehicalimage" src="../static/Menu-Charging.avif" alt="">
                <p class="identity">Charging</p>
                <button>Learn More</button>
            </div>
            <div id="mods"class="box">
                <img class="vehicalimage" src="../static/Menu-Home Charging.avif" alt="">
                <p class="identity">Home Charging</p>
                <button>Learn More</button>
            </div>
            <div  id="modt"class="box">
                <img class="vehicalimage" src="../static/Menu-Supercharging.avif" alt="">
                <p class="identity">Super Charging</p>
                <button>Learn More</button>
            </div>
     </div>     
</body>
</html>