<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tesla Model-S</title>
    <link rel="stylesheet" href="../views/model.css">
</head>

<body>
    <div class="bg-container">
        <div class="video-container">
            <video autoplay loop muted>
                <source src="../static/Tesla-red.mp4" type="video/mp4">
                <!-- Your browser does not support the video tag. -->
            </video>
        </div>
        <div class="overlay">
            <!-- Your overlay content here
                <h1>Overlay Content</h1>
                <p>This is some text on top of the video.</p> -->
            <navbar class="navbar">
                <img class="teslalogo" src="../static/tesla-logo.png" alt="">
                <ul>
                    <li><a href="/vehicles">Vehicles</a></li>
                    <li><a href="/energy">Energy</a></li>
                    <li><a href="/charging">Charging</a></li>
                    <li><a href="#">Discover</a></li>
                    <li><a href="/">Home</a></li>
                </ul>
            </navbar>
            <div class="specs">
                <div class="spec-1">
                    <p class="feature">396 mi</p>
                    <p class="caption">Range (EPA est.)</p>
                </div>
                <div class="spec-1">
                    <p class="feature">1.99s</p>
                    <p class="caption">0-60mph</p>
                </div>
                <div class="spec-1">
                    <p class="feature">200mph</p>
                    <p class="caption">Top Speed</p>
                </div>
                <div class="spec-1">
                    <p class="feature">1,020 hp</p>
                    <p class="caption">Peak Power</p>
                </div>
            </div>
            <div class="specm">
                <div class="con">
                    <p class="name">Model S</p>
                    <p class="subtitle">Explore Inventory</p>
                </div>
            </div>
            <div class="gundis">
                <div class="pakka">
                <button class="order">Order Now</button>
                <button class="order">Demo Drive</button>
                </div>
                <p class="plaid">Specs displayed are Model S Plaid values.</p>
            </div>

        </div>
        <!-- <div class="second">
            <p>manasa</p>
        </div> -->
        
    </div>
    
    <div class="second">
        <p>Interior of the Future</p>      
    </div>
    <div class="third">
        <div class="first-box">
            <img class="firstboximage" src="../static/MS-Interior-Grid-connected.avif" alt="">
            <div class="summary">
                <p>Stay Connected<br><br>
                    Instantly connect with multi-device Bluetooth, or fast charge devices with wireless and 36-watt USB-C charging.
                </p>
            </div>
        </div>
        <div class="second-box">
            <video id="sensors" autoplay loop muted>
                <source src="../static/MS-Interior-Grid-2-Audio-Desktop.webm" type="video/mp4">
                <!-- Your browser does not support the video tag. -->
            </video>
            <div class="summary">
                <p>Immersive Sound<br><br>
                    A 22-speaker, 960-watt audio system with Active Road Noise Reduction offers immersive listening and studio-grade sound quality.
                </p>
            </div>
        </div>
        <div class="first-box">
            <img class="firstboximage" src="../static/MS-Interior-Grid-D-Desktop.avif" alt="">
            <div class="summary">
                <p>Room for Everything<br><br>
                    With front and rear trunks and fold-flat seats you can fit your bike without taking the wheel off—and your luggage too. 
                </p>
            </div>
        </div>
        <!-- <div class="bhargav"> -->
            <!-- <img class="sideview" src="Model-S-Exterior-sideview.avif" alt=""> -->
            <div class="ravi">
                <div class="inka">
                    <p id="porthozil">With a drag coefficient of just .208 Cd, the lowest on the planet, Model S is built for speed, endurance and range. Improved aerodynamics and a wider chassis offer more responsive performance so you can take corners quicker and with more confidence.</p>
                </div>
                <div class="yaar">
                    <div class="unga">
                      <p id="Exterior">Exterior</p>
                      <p id="Designer">Designed For Efficiency</p>
                    </div>
                    <div class="harshi">
                        <button class="nithin">Order Now</button>
                        <button class="nithin">View Inventory</button>  
                    </div>
                </div>
            </div>
        <!-- </div> -->
        
    </div>
    <!-- <div class="fourth">
        
    </div> -->
    

</body>

</html>