<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <title>Order Model Y</title>
    <link rel="stylesheet" href="../views/order-mody.css">
</head>

<body>
    <div class="topper">
        <navbar class="navbar">
            <img class="teslalogo" src="../static/tesla-logo.png" alt="">
            <div class="maa">
                <p id="variant"> Model Y</p>
            </div>
        </navbar>
    </div>
    <div class="hukum">
        <div class="container">
            <div class="pedda">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-interval="2000">
                            <img src="../static/Car-mody-1.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-interval="2000">
                            <img src="../static/Car-mody-2.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-interval="2000">
                            <img src="../static/Car-mody-3.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-interval="2000">
                            <img src="../static/Car-mody-4.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-interval="2000">
                            <img src="../static/Car-mody-5.jpeg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </div>
        <div class="pilla">
            <div class="delhi">
                <p  id="sub-variant">Model Y</p>
                <div class="captions">
                    <p id="caption">Est. Delivery: Aug - Sep 2023</p>
                    <p class="caption-two">Enter Delivery Zip Code</p>
                </div>
                <div class="pakka">
                    <button class="order-one">Purchase Price</button>
                    <button class="order">Potential Saving</button>
                </div>
                <div class="specs">
                <div class="spec-1">
                    <p class="feature">330 mi</p>
                    <p class="caption-tel">Range (EPA est.)</p>
                </div>
                <div class="spec-1">
                    <p class="feature">4.8s</p>
                    <p class="caption-tel">0-60mph</p>
                </div>
                <div class="spec-1">
                    <p class="feature">135mph</p>
                    <p class="caption-tel">Top Speed</p>
                </div>
              </div>
              <div class="tala"><p> Dual Motor All-Wheel Drive</p></div>
              <div class="boxes">
              <div class="box-1"><p>Model Y Performance</p><p>$54,490</p></div>
              <div class="box-1"><p>Model Y Long Range</p><p>$50,490</p></div>
              <div class="box-1"><p>Model Y </p><p>$47,740</p></div>
              </div>     
              <div class="pakka-end">
                <button class="order">Purchase Now</button>
            </div>
            </div>
        </div>
        <!-- <div class="jailer">
            <div class="pakka">
                <button class="order">Order Now</button>
                <button class="order">Demo Drive</button>
            </div>
        </div> -->
    </div>

</body>

</html>